html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* colors */
  --primary-text-color: #ffffff;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --base-text-color: #434455;
  --primari-whitecolor: #ffffff;
  --btn-hover-color: #404bbf;
  --btn-secondary-color: #e7e9fc;
  --second-white-text: #f4f4fd;
  --cust-border-color: #8e8f99;
  --card-prinspl-color: #f4f4fd;
  --shadow-btn-herro: rgba(0, 0, 0, 0.15);
  --color-icon-customers: #afb1b8;
  --color-icon-foter: #f4f4fd;
  --color-bgrnd-modal-window: #fcfcfc;

  /* indent for gap */
  --indent: 24px;
  --indent-items: 3;

  /* transition */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primari-whitecolor);
  color: var(--base-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}
/* reset end */

.container {
  /* Phone style & >*/
  /* min-width: 320px; */
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: scroll;

  outline: dashed 1px teal;
}

@media screen and (min-width: 320px) {
  .container {
    overflow-x: hidden;
  }
}

/* Tablet style & > */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

/* Desktop style */
@media only screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  /* outline: dashed 2px red; */
}

.centred {
  text-align: center;
}

/*to hide service*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-items {
  width: calc(
    (100% - (var(--indent-items) - 1) * var(--indent)) / var(--indent-items)
  );
}

/* delete poit in UL */
.list {
  list-style: none;
}

/**
  |============================
  | HEDER
  |============================
*/

.heder-container {
  border-bottom: solid 1px var(--btn-secondary-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: aqua;
}

.heder-container .container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .heder-container .container {
    justify-content: space-between;
  }
}

/* Logo */
.logo {
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

/* Tablet style & > */
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

/* Desktop style */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-studio {
  color: var(--title-text-color);
}

/* logo for footer */
.footer .logo-studio {
  color: var(--second-white-text);
}

/* site nav */
.nav {
  display: flex;
  align-items: center;
}

.nav-l {
  position: relative;

  display: none;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media only screen and (min-width: 768px) {
  .nav-l {
    display: block;
  }
}

.nav-l:hover,
.nav-l:focus {
  color: var(--btn-hover-color);
}

.nav-l::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.nav-l.current::after,
.nav-l:hover::after,
.nav-l:focus::after {
  background-color: var(--btn-hover-color);
}
.nav-l.current {
  color: var(--btn-hover-color);
}

.nav .list {
  display: flex;
  gap: 40px;
}

/* adress */
.adress {
  display: none;
  margin-left: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .adress {
    display: block;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-adress {
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
  .nav-adress {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}

.adress-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--base-text-color);
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media only screen and (min-width: 428px) and (max-width: 1157px) {
  .adress-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .adress-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.adress-link:hover,
.adress-link:focus {
  color: var(--btn-hover-color);
}

/**
  |============================
  | HERRO
  |============================
*/

.herro {
  background-color: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  max-width: 1440px;
  max-height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.herro-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

  color: var(--primari-whitecolor);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.btn-herro-container {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.section .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* Modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: calc(50% - 288px);
  left: calc(50% - 204px);
  width: 408px;
  height: 584px;
  background: var(--color-bgrnd-modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--btn-secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-hover-color);
  fill: var(--primari-whitecolor);
}

.is-hidden {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal-icon {
  box-sizing: content-box;
}

/* modal form */
.title-form {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.icon-form {
  position: absolute;
  top: 17%;
  left: 16px;
  fill: var(--title-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  pointer-events: none;
}

.modal-form-lable {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--cust-border-color);
}

.modal-form-fild {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
  padding-left: 38px;
  padding-right: 38px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-input:focus + .icon-form {
  fill: var(--accent-color);
}
.modal-form-massedge {
  display: block;
  width: 100%;

  max-height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 16px;
}

.modal-form-massedge::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-top: 8px;
}
.modal-form-massedge:hover,
.modal-form-massedge:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 24px;
}
.modal-form-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--cust-border-color);
  margin-left: 8px;
}

.modal-form-agreement-box {
  appearance: none;

  transition: var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.modal-form-agreement-unchek {
  opacity: 1;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form-agreement-box:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchek {
  opacity: 0;
}

.modal-form-agreement-check {
  opacity: 0;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.modal-form-agreement-box:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-check {
  opacity: 1;
}
.modal-form-policy {
  color: var(--accent-color);
}

.btn-modal-form {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primari-whitecolor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.btn-modal-form:hover,
.btn-modal-form:focus {
  background-color: var(--btn-hover-color);
}

/**
  |============================
  | BUTTON
  |============================
*/

.button-herro {
  color: var(--primari-whitecolor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-btn-herro);
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.button-herro:hover,
.button-herro:focus {
  color: var(--primari-whitecolor);
  background-color: var(--btn-hover-color);
  box-shadow: 0px 4px 4px var(--shadow-btn-herro);
  border-radius: 4px;
}

/**
  |============================
  | Principles of work
  |============================
*/

.section .section-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.cont-prinsp-work {
  --indent-items: 4;
}

.section .desc {
  color: var(--base-text-color);
  line-height: 24px;
  letter-spacing: 0.02em;
}

.card-princp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background-color: var(--card-prinspl-color);
  border-radius: 4px;
}

/* .icon-princ {
} */

/**
  |============================
  | OUR PROJECTS
  |============================
*/

.our-projects .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Phone  & Tablet style*/
.our-projects {
  display: none;
  padding-top: 0;
  background-color: var(--primari-whitecolor);
}

@media only screen and (min-width: 1158px) {
  .our-projects {
    display: block;
  }
}

.our-projects .section-title {
  margin-bottom: 72px;
}

/**
  |============================
  | OUR TEAM
  |============================
*/

.team {
  --indent-items: 4;

  background-color: var(--second-white-text);
}
.section-tm-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.style-img {
  background-color: var(--primari-whitecolor);
}

.section .name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.section .profession {
  color: var(--base-text-color);

  line-height: 24px;
  letter-spacing: 0.02em;
}

.team-wrapper {
  padding: 32px 0;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.profession {
  margin-bottom: 8px;
}

.team .card-set-items {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* social link */
.set-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.kind-social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-icon {
  fill: var(--card-prinspl-color);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: var(--btn-hover-color);
}

/**
  |============================
  | CUSTOMER
  |============================
*/
.section-cust-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.customers .card-set-items {
  --indent-items: 6;
  height: 88px;
  width: calc((100% - 120px) / 6);
}
.customer-linc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--cust-border-color);
  border-radius: 4px;
  color: var(--cust-border-color);

  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);

  /* outline: 2px dashed  teal; */
}

.customer-linc:hover,
.customer-linc:focus {
  /* border: 1px solid var(--btn-hover-color); */
  border-color: var(--btn-hover-color);
  color: var(--btn-hover-color);
}

.customer-icon {
  fill: currentColor;
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer .text {
  color: var(--second-white-text);
}

.cont-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--title-text-color);
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.cont-logo {
  width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;

  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.footer .text {
  width: 264px;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.titel-socmedia {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--primari-whitecolor);
  margin-bottom: 16px;
}

.cont-socmedia {
  width: 208px;
  margin-left: 120px;
}

.footer .set-icon {
  gap: 16px;
}

.footer .social-icon {
  fill: var(--color-icon-foter);
}

.footer .social-link-icon:hover,
.footer .social-link-icon:focus {
  background-color: #31d0aa;
}

.cont-subscribe {
  width: 453px;
  height: 80px;
  margin-left: 80px;
}
.flex-entermail-and-btn {
  display: flex;

  align-items: center;
  justify-content: left;
}

.input-footer {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: var(--title-text-color);
  color: var(--primari-whitecolor);
  border: 1px solid var(--primari-whitecolor);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-footer::placeholder {
  color: var(--primari-whitecolor);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.titel-subscribe {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--primari-whitecolor);
  margin-bottom: 16px;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);

  gap: 16px;
  width: 165px;

  height: 40px;
  margin-left: 24px;
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.btn-subscribe:hover,
.btn-subscrib:focus {
  background: var(--btn-hover-color);
}

/**
  |============================
  | PORTFOLIO
  |============================
*/

/* btn in Portfolio */
.button-filtr {
  display: block;
  padding: 12px 24px;
  border: 1px solid var(--btn-secondary-color);
  border-radius: 4px;

  color: var(--accent-color);
  background-color: var(--second-white-text);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition: box-shadow var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.button-filtr:hover,
.button-filtr:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--primari-whitecolor);
  background-color: var(--btn-hover-color);
}

.filtr {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filtr .card-set {
  --indent-items: 5;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

/* our projects */

.progects-fl-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.progects-fl-element {
  position: relative;

  flex-basis: calc((100% - 2 * 24px) / 3);
}

.link-progects {
  display: block;
  overflow: hidden;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.link-progects:hover,
.link-progects:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link {
  text-decoration: none;
}

.desc-product {
  margin-bottom: 8px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.desc-sferprodact {
  color: var(--base-text-color);

  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.product-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.link-progects:hover .overlay,
.link-progectst:focus .overlay {
  transform: translateY(0);
}

.project-box {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay-text {
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 140px;
  padding-left: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-icon-foter);
}
/**
  |============================
  | Mobile menu styles
  |============================
*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 32px 32px;
  background-color: var(--primari-whitecolor);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  color: var(--title-text-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(231, 233, 252, 0.1);

  border: 1px solid transparent;
}

.mobile-menu {
  margin-bottom: auto;
  padding: 0;
  list-style: none;
  color: var(--title-text-color);
}

.mobile-menu .link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.mobile-socials {
  display: flex;
  gap: 56px;
}

@media only screen and (max-width: 396px) {
  .mobile-socials {
    gap: 30px;
  }
}
.mobile-contacts {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 52px;
}
.mobile-contacts-linc {
  text-decoration: none;
}

.mobile-menu-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.mobile-contacts-linc-tel {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
}
.mobile-contacts-linc-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--base-text-color);
  text-decoration: none;
}

.mobile-menu .current {
  color: var(--btn-hover-color);
}
